In [1]:
#import dependencies
#pandas to read csv file
#gmaps and api key to create maps
#requests to request google places JSON
#allows for retrieval of hotel locations from lat and lng from the city


import pandas as pd
import gmaps
import requests

#import api key

from config import g_key

In [19]:
import collections                                         
collections_abc = getattr(collections, 'abc', collections)

In [3]:
city_data_df = pd.read_csv('weather_data/cities.csv')

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Fortuna,US,2022-02-19 02:24:07,40.5982,-124.1573,53.19,90,0,5.75
1,1,Te Anau,NZ,2022-02-19 02:24:07,-45.4167,167.7167,55.90,78,63,6.04
2,2,Tessalit,ML,2022-02-19 02:24:07,20.1986,1.0114,71.56,15,100,9.71
3,3,Albany,US,2022-02-19 02:23:56,42.6001,-73.9662,20.08,67,6,10.13
4,4,Yar-Sale,RU,2022-02-19 02:24:08,66.8333,70.8333,19.44,95,100,15.57

In [4]:
#One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number.
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     561 non-null    int64
 1   City        561 non-null    object
 2   Country     557 non-null    object
 3   Date        561 non-null    object
 4   Lat         561 non-null    float64
 5   Lng         561 non-null    float64
 6   Max Temp    561 non-null    float64
 7   Humidity    561 non-null    int64
 8   Cloudiness  561 non-null    int64
 9   Wind Speed  561 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.0+ KB

In [5]:
#configure gmaps to use Google API key

gmaps.configure(api_key=g_key)

In [6]:
#assign locations to an array of latitude/longitude pairs

    #locations = [latitude, longitude]

#assign the weights variable to some value

    #temperatures = # an array of length equal to the locations array length
    
#assign the figure variable to the gmaps.fugure() attribute
    
    #fig = gmaps.figure()
    
#assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations

    #heatmap_layer = gmaps.heatmap_layer(locations, weights = temperatures)
    
#add the heatmap layer

    #fig.add_layer(heatmap_layer)
    
#call the figure to plot data

    #fig

In [7]:
#Google heatmaps do not plot negative numbers. 
#If you have a maximum temperature that is less than 0 °F, then you will get an InvalidWeightException error
#To remove the negative temperatures we can use a for loop to iterate through the max_temp 
#and add the temperatures that are greater than 0 °F to a new list.

#get max temp

max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [8]:
#heatmap of temperature
#get lats and lngs (locations)

locations = city_data_df[['Lat', 'Lng']]

#get max temp

max_temp = city_data_df['Max Temp']

#assign the figure variable

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

#assign heatmap variable

heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp],
                                    dissipating=False, max_intensity=300, point_radius =4)

#add the heatmap layer

fig.add_layer(heatmap_layer)

#call the figure to plot data

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Create a percent Cloudiness Heatmap

locations = city_data_df[['Lat', 'Lng']]
cloudiness = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#create wind speed heatmap

locations = city_data_df[['Lat', 'Lng']]

wind_speed = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#Ask the customer to add a minimum and maximum temp value
min_temp = float(input("What is the lowest temperature you would like for your trip? "))
max_temp = float(input("What is the highest temperature you would like for your trip? "))

What is the lowest temperature you would like for your trip? 50
What is the highest temperature you would like for your trip? 75

In [13]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]

preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Fortuna,US,2022-02-19 02:24:07,40.5982,-124.1573,53.19,90,0,5.75
1,1,Te Anau,NZ,2022-02-19 02:24:07,-45.4167,167.7167,55.90,78,63,6.04
2,2,Tessalit,ML,2022-02-19 02:24:07,20.1986,1.0114,71.56,15,100,9.71
9,9,Port Alfred,ZA,2022-02-19 02:24:09,-33.5906,26.8910,68.90,84,22,18.45
10,10,Marrakesh,MA,2022-02-19 02:19:38,31.6315,-8.0083,50.07,76,40,3.44

In [14]:
preferred_cities_df.isnull().count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()

hotel_df.head()

           City Country  Max Temp      Lat       Lng
0       Fortuna      US     53.19  40.5982 -124.1573
1       Te Anau      NZ     55.90 -45.4167  167.7167
2      Tessalit      ML     71.56  20.1986    1.0114
9   Port Alfred      ZA     68.90 -33.5906   26.8910
10    Marrakesh      MA     50.07  31.6315   -8.0083

In [16]:
#Set parameters to search for a a hotel
# for index, row in df.iterrows()

params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#iterate through the dataframe

for index, row in hotel_df.iterrows():
    
    #get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #add the latitude and longitude to the location key for the params dictionary
    params['location'] = f'{lat},{lng}'
    
    #use the search term: 'lodging' and our lat and lng
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    #make request and get the JSON data from the search
    hotels = requests.get(base_url, params = params).json()
    
    #grab the first hotel from the results and store the name; = hotels['results'][0]['name']
    #this data is obtained from the JSON file
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found...skipping')

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [17]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Fortuna,US,53.19,40.5982,-124.1573,Super 8 by Wyndham Fortuna
1,Te Anau,NZ,55.90,-45.4167,167.7167,Kingsgate Hotel Te Anau
2,Tessalit,ML,71.56,20.1986,1.0114,NaN
9,Port Alfred,ZA,68.90,-33.5906,26.8910,The Halyards Hotel
10,Marrakesh,MA,50.07,31.6315,-8.0083,Les Jardins de La Koutoubia

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
locations_tuples = list(locations.to_records(index=False))
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations_tuples)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

AttributeError: module 'collections' has no attribute 'Iterable'

In [ ]:
#info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
 #Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
locations_tuples = list(locations.to_records(index=False))
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

In [ ]:
locations.head()

In [21]:
locations = hotel_df[["Lat", "Lng"]]
locations_tuples = list(locations.to_records(index=False))

locations_tuples

[(40.5982, -124.1573),
 (-45.4167, 167.7167),
 (20.1986, 1.0114),
 (-33.5906, 26.891),
 (31.6315, -8.0083),
 (-46.1927, 168.8643),
 (-30.1811, -50.2056),
 (38.6979, -9.4215),
 (20.5022, -10.0711),
 (-35.1, 173.7833),
 (26.1842, 127.7558),
 (-34.4187, 19.2345),
 (39.05, -27.9833),
 (26.4852, 50.0405),
 (-46.6, 168.3333),
 (-46.1333, 167.6833),
 (-33.0153, 27.9116),
 (-3.4944, -39.5786),
 (-12.1688, 26.3894),
 (-19.3911, -40.0722),
 (23.306, 103.1635),
 (-8.9266, 125.4092),
 (-5.5183, -47.4611),
 (-34.5322, 20.0403),
 (-5.8333, -47.0667),
 (-37.6167, -73.65),
 (38.5167, -28.7),
 (-24.7911, -50.0119),
 (-35.6167, 174.5),
 (-33.918, 25.5701),
 (-22.9661, -42.0278),
 (-32.035, -52.0986),
 (37.4636, -122.4286),
 (21.5453, -77.2644),
 (-12.0432, -77.0282),
 (29.4608, -95.0513),
 (-17.0667, 15.7333),
 (-33.9258, 18.4232),
 (34.9833, 139.8667),
 (-19.6772, -51.1908),
 (-38.0023, -57.5575),
 (16.5129, -14.6471),
 (-38.2667, 141.9667),
 (-23.76, -45.4097),
 (18.3851, 42.4509),
 (31.7561, 25.0865),
 (-10.6667, -77.8333),
 (-46.2817, 169.8464),
 (-28.1887, 23.5395),
 (36.6177, -121.9166),
 (31.61, 34.7642),
 (14.8961, -24.4956),
 (37.6138, -122.4869),
 (-35.3333, -72.4167),
 (-34.4833, -54.3333),
 (-19.5667, 18.1167),
 (31.2089, 16.5887),
 (-28.783, 32.0377),
 (17.0151, 54.0924),
 (28.6585, -17.9182),
 (47.6666, -52.7314),
 (-16.6228, -72.7111),
 (1., -52.),
 (-10.3833, 38.7667),
 (-26.6481, 15.1594),
 (20.931, -17.0347),
 (18.6853, 12.9164),
 (25.9018, -97.4975),
 (-4.7833, 38.2833),
 (39.8885, 4.2658),
 (32.3333, -117.0333),
 (-13.4408, -49.1486),
 (32.6667, -17.1),
 (-27.7832, 24.6877),
 (13.9833, -14.8),
 (-29.9533, -71.3436),
 (-21.6403, -41.0511),
 (27.85, -105.4833),
 (5.4802, -53.2011),
 (18.4616, -69.2972),
 (12.0483, -84.9936),
 (-10.3608, -37.7011),
 (-41.8697, -73.8203),
 (-13.7, -76.2167),
 (33.7333, 135.9833),
 (18.9048, -3.5265),
 (32.1167, 20.0667),
 (34.6391, -120.4579),
 (-14.5566, 30.8149),
 (13.2954, 19.6966),
 (19.9333, -105.25),
 (13.3154, 12.6113),
 (-33.0117, 17.9442),
 (-28.8865, 31.4699),
 (-10.0681, -78.1522),
 (22.2855, 114.1577),
 (13.9835, 10.2704),
 (24.0934, 32.907),
 (-45.5752, -72.0662),
 (42.376, -122.9164),
 (28.017, -97.5169),
 (35.1954, -79.4695),
 (41.1141, 13.8935),
 (-3.4833, 23.4333),
 (22.6783, -3.9836),
 (-33.6971, -53.4616),
 (-14.2667, 50.1667),
 (-22.0866, -65.5942),
 (-15.9653, -54.9683),
 (20.5169, -13.0499),
 (12.9894, 7.6006),
 (-34.5703, -59.105),
 (-14.7833, 24.8),
 (-45.8742, 170.5036),
 (-28.55, 16.4333),
 (10.4396, 45.0143),
 (27.3167, -112.2833),
 (34.8791, -76.9013),
 (-20.4431, -53.7592),
 (-34.5838, -60.9433),
 (40.8021, -124.1637),
 (23.9, 79.2),
 (-26.8241, -65.2226),
 (33.194, -82.5271),
 (22.6163, 120.3133),
 (22.4833, 103.95),
 (22.5667, 59.5289),
 (-12.1167, -73.),
 (12.35, 29.25),
 (29.9737, 32.5263),
 (38.421, -121.4238),
 (9.4942, 50.8122),
 (-11.1753, -61.9014),
 (-11.0964, -77.6139),
 (-11.9472, -75.2829),
 (27.1467, 57.0801),
 (-16.6542, -41.0306),
 (27.9769, -114.0611),
 (5.3833, -52.95),
 (-42.5167, 172.8167),
 (-25.6709, 28.5236),
 (-13.2, 49.05),
 (-23.8597, 35.3472),
 (-18.95, -57.8),
 (33.8464, -118.0467),
 (48.6499, -53.1147),
 (14.3188, 2.0866),
 (25.7, 100.1833),
 (-18.3667, 21.85),
 (-19.9, 48.8),
 (37.1041, -113.5841),
 (-21.6667, 45.1667),
 (25.5198, 90.2201),
 (31.6128, 55.4107),
 (-13.6333, 32.65),
 (7.7669, -72.225),
 (19.6, 81.6667),
 (-6.35, 36.4833),
 (-35.1667, 173.1667),
 (26.55, 82.65),
 (22.8909, -109.9124),
 (0.0847, -76.8828),
 (4.095, 30.6779),
 (30.4833, -115.95),
 (-6.8333, 36.9833),
 (-15.2261, -59.3353),
 (-4.6, 34.35),
 (36.7781, -6.3515),
 (23.4667, 74.9167),
 (-35.35, 150.4667),
 (14.9215, -23.5087),
 (13.1629, 32.6635),
 (27.2574, 33.8129),
 (17.4924, 44.1277),
 (-22.45, 18.9667),
 (25.2088, 64.6357),
 (-30.0319, -70.7081),
 (-3.7461, -39.7833),
 (-10.9814, 26.7333),
 (-34.0033, 24.7314)]