## Deliverable 2. Create a Customer Travel Destinations Map.

In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [31]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description
0,0,Albany,42.6001,-73.9662,31.86,47,4,1.01,US,clear sky
1,1,Rikitea,-23.1203,-134.9692,75.74,79,100,6.78,PF,moderate rain
2,2,Port-Gentil,-0.7193,8.7815,81.57,74,100,6.73,GA,overcast clouds
3,3,Saint-Joseph,-21.3667,55.6167,82.78,86,100,26.04,RE,light rain
4,4,Sao Filipe,14.8961,-24.4956,71.42,72,99,12.17,CV,overcast clouds

In [32]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the lowest temperature you would like for your trip? '))
max_temp = float(input('What is the highest temperature you would like for your trip? '))

What is the lowest temperature you would like for your trip? 50
What is the highest temperature you would like for your trip? 75

In [33]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]

preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description
4,4,Sao Filipe,14.8961,-24.4956,71.42,72,99,12.17,CV,overcast clouds
5,5,Hermanus,-34.4187,19.2345,65.89,86,61,4.68,ZA,broken clouds
6,6,Pisco,-13.7000,-76.2167,69.85,83,0,8.05,PE,clear sky
13,13,Kasongo-Lunda,-6.4667,16.8167,70.34,98,100,2.44,CD,light rain
18,18,Chuy,-33.6971,-53.4616,71.76,85,82,11.34,UY,broken clouds

In [34]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

City_ID        230
City           230
Lat            230
Lng            230
Max Temp       230
Humidity       230
Cloudiness     230
Wind Speed     230
Country        230
Description    230
dtype: int64

In [35]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

clean_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description
4,4,Sao Filipe,14.8961,-24.4956,71.42,72,99,12.17,CV,overcast clouds
5,5,Hermanus,-34.4187,19.2345,65.89,86,61,4.68,ZA,broken clouds
6,6,Pisco,-13.7000,-76.2167,69.85,83,0,8.05,PE,clear sky
13,13,Kasongo-Lunda,-6.4667,16.8167,70.34,98,100,2.44,CD,light rain
18,18,Chuy,-33.6971,-53.4616,71.76,85,82,11.34,UY,broken clouds

In [36]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", 'Description', "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = "Hotel Name"
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
4,Sao Filipe,CV,71.42,overcast clouds,14.8961,-24.4956,Hotel Name
5,Hermanus,ZA,65.89,broken clouds,-34.4187,19.2345,Hotel Name
6,Pisco,PE,69.85,clear sky,-13.7000,-76.2167,Hotel Name
13,Kasongo-Lunda,CD,70.34,light rain,-6.4667,16.8167,Hotel Name
18,Chuy,UY,71.76,broken clouds,-33.6971,-53.4616,Hotel Name
22,Bluff,NZ,72.81,clear sky,-46.6000,168.3333,Hotel Name
25,Busselton,AU,73.04,clear sky,-33.6500,115.3333,Hotel Name
32,Mataura,NZ,72.48,clear sky,-46.1927,168.8643,Hotel Name
35,Castro,BR,64.17,clear sky,-24.7911,-50.0119,Hotel Name
36,Punta Arenas,CL,51.12,scattered clouds,-53.1500,-70.9167,Hotel Name

In [37]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found. Skip')

Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip
Hotel not found. Skip

In [38]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
4,Sao Filipe,CV,71.42,overcast clouds,14.8961,-24.4956,Hotel Xaguate
5,Hermanus,ZA,65.89,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
6,Pisco,PE,69.85,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
13,Kasongo-Lunda,CD,70.34,light rain,-6.4667,16.8167,Hotel Name
18,Chuy,UY,71.76,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza

In [39]:
# 8a. Create the output File (CSV)
output_data_file = 'Weather_Database/WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [45]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_template)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig